<div class="page-header">
  <h3>Class Member #<%= @class_member.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Student</dt>
      <dd><%= @class_member.student_id %></dd>

      <dt>Course</dt>
      <dd><%= @class_member.course_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/class_members" class="btn btn-primary">
        Back
      </a>
      <a href="/class_members/<%= @class_member.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_class_member/<%= @class_member.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Class member has many class_comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Class_comments
      </li>

      <% @class_member.class_comments.each do |class_comment| %>
        <li class="list-group-item">
          <a href="/class_comments/<%= class_comment.id %>">
            <%= class_comment.class_member_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/class_comments/<%= class_comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/class_comments/<%= class_comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_class_comment/<%= class_comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Class member has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @class_member.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.session_comment_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
