<div class="page-header">
  <h3>Class Member #<%= @class_member.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Student</dt>
      <dd><%= @class_member.student_id %></dd>

      <dt>Course</dt>
      <dd><%= @class_member.course_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/class_members" class="btn btn-primary">
        Back
      </a>
      <a href="/class_members/<%= @class_member.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_class_member/<%= @class_member.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
