<div class="page-header">
  <h3>Student #<%= @student.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @student.name %></dd>

      <dt>Last name</dt>
      <dd><%= @student.last_name %></dd>

      <dt>Mba class</dt>
      <dd><%= @student.mba_class %></dd>

      <dt>Photo</dt>
      <dd><%= @student.photo %></dd>

      <dt>User</dt>
      <dd><%= @student.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/students" class="btn btn-primary">
        Back
      </a>
      <a href="/students/<%= @student.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_student/<%= @student.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
