<!-- Validation failure messages -->
<% if @class_comment.errors.any? %>
  <% @class_comment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Class Comment</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_class_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for class_member_id -->
      <div class="form-group">
        <label for="class_member_id" class="control-label">
          Class member
        </label>

        <%= select_tag(:class_member_id, options_from_collection_for_select(ClassMember.all, :id, :student_id, @class_comment.class_member_id), :class => "form-control") %>
      </div>

      <!-- Label and input for summary -->
      <div class="form-group">
        <label for="summary" class="control-label">
          Summary
        </label>

        <input type="text" id="summary" name="summary" placeholder="Summary" class="form-control" value="<%= @class_comment.summary %>">
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <input type="text" id="body" name="body" placeholder="Body" class="form-control" value="<%= @class_comment.body %>">
      </div>

      <button class="btn btn-success">
        Create Class Comment
      </button>
      or
      <a href="/class_comments">Cancel</a>
    </form>
  </div>
</div>
