<div class="page-header">
  <h3>Class Comment #<%= @class_comment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Class member</dt>
      <dd>
        <% if @class_comment.class_member.present? %>
          <a href="/class_members/<%= @class_comment.class_member_id %>">
            <%= @class_comment.class_member.student_id %>
          </a>
        <% end %>
      </dd>

      <dt>Summary</dt>
      <dd><%= @class_comment.summary %></dd>

      <dt>Body</dt>
      <dd><%= @class_comment.body %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/class_comments" class="btn btn-primary">
        Back
      </a>
      <a href="/class_comments/<%= @class_comment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_class_comment/<%= @class_comment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Class comment has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @class_comment.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.session_comment_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_review" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for session_comment_id -->
      <div class="form-group">
        <label for="session_comment_id" class="control-label">
          Session comment
        </label>

        <%= select_tag(:session_comment_id, options_from_collection_for_select(ClassComment.all, :id, :class_member_id), :class => "form-control") %>
      </div>

      <!-- Label and input for class_member_id -->
      <div class="form-group">
        <label for="class_member_id" class="control-label">
          Class member
        </label>

        <%= select_tag(:class_member_id, options_from_collection_for_select(ClassMember.all, :id, :student_id), :class => "form-control") %>
      </div>

      <!-- Label and input for rating -->
      <div class="form-group">
        <label for="rating" class="control-label">
          Rating
        </label>

        <input type="text" id="rating" name="rating" placeholder="Rating" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Review
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Class comment has many student -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Student
      </li>

      <% @class_comment.student.each do |student| %>
        <li class="list-group-item">
          <a href="/students/<%= student.id %>">
            <%= student.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/students/<%= student.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/students/<%= student.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_student/<%= student.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
