<div class="page-header">
  <h3>Class Comment #<%= @class_comment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Class member</dt>
      <dd><%= @class_comment.class_member_id %></dd>

      <dt>Summary</dt>
      <dd><%= @class_comment.summary %></dd>

      <dt>Body</dt>
      <dd><%= @class_comment.body %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/class_comments" class="btn btn-primary">
        Back
      </a>
      <a href="/class_comments/<%= @class_comment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_class_comment/<%= @class_comment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Class comment has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @class_comment.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.session_comment_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Class comment has many student -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Student
      </li>

      <% @class_comment.student.each do |student| %>
        <li class="list-group-item">
          <a href="/students/<%= student.id %>">
            <%= student.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/students/<%= student.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/students/<%= student.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_student/<%= student.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
