<div class="page-header">
  <h3>Professor #<%= @professor.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @professor.name %></dd>

      <dt>User</dt>
      <dd><%= @professor.user_id %></dd>

      <dt>Last name</dt>
      <dd><%= @professor.last_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/professors" class="btn btn-primary">
        Back
      </a>
      <a href="/professors/<%= @professor.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_professor/<%= @professor.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Professor has many classes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Classes
      </li>

      <% @professor.classes.each do |course| %>
        <li class="list-group-item">
          <a href="/courses/<%= course.id %>">
            <%= course.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/courses/<%= course.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/courses/<%= course.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_course/<%= course.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
